@CHARSET "UTF-8";
<!--样式1-->
        body .demo-class {
            background: #FFFFFF;
            border: none;
        }

            body .demo-class .layui-layer-content {
                padding: 3rem 3rem 0 3rem;
                text-align: center;
                font-size: 1.2rem;
                font-weight: bold;
                height: 1px;
            }

            body .demo-class .layui-layer-btn {
                margin-top: 0rem;
            }

                body .demo-class .layui-layer-btn a {
                    background: #ff6a00;
                    border: 0px;
                }

                body .demo-class .layui-layer-btn .layui-layer-btn1 {
                    background: #afb611;
                    border: 0px;
                }